* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
}

.head {
  background-color: rgb(31, 94, 171);
  color: rgb(255, 255, 255);
  padding: 1rem;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: whitesmoke;
}